{% extends 'base.html' %}		

{% block for %}
<br><br><br><br>

<ul id ="grade-selectors">
	<li><a href="/teacher/kindergarten"><button type="button">Kindergarten</button></a></li>
	<li><a href="/teacher/first"><button type="button">1st Grade</button></a></li>
	<li><a href="/teacher/second"><button type="button">2nd Grade</button></a></li>
	<li><a href="/teacher/third"><button type="button">3rd Grade</button></a></li>
	<li><a href="/teacher/fourth"><button type="button">4th Grade</button></a></li>
	<li><a href="/teacher/fifth"><button type="button">5th Grade</button></a></li>
	<li><a href="/teacher/sixth"><button type="button">6th Grade</button></a></li>
</ul>	
<div id={{ chartID|safe }} class="chart" style="height: 100px; width: 1000px"></div>
		<script>
			var chart_id = {{ chartID|safe }}
			var series = {{ series|safe }}
			var title = {{ title|safe }}
			var xAxis = {{ xAxis|safe }}
			var yAxis = {{ yAxis|safe }}
			var chart = {{ chart|safe }}
		</script>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
			<script src="http://code.highcharts.com/highcharts.js"></script>
			<script src="../static/js/main.js"></script>
{% endblock %}